  <%= form_with(model: tarea, local: true) do |form| %>
    <% if tarea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

        <ul>
          <% tarea.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :materium_id, "Materia" %>
      <%= form.collection_select :materium_id, @materias, :id, :nombre, include_blank: false, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :estado_id %>
      <%= form.collection_select :estado_id, @estados, :id, :nombre, include_blank: false, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :FechaFin, "Fecha de finalización" %>
      <%=form.date_field :FechaFin %>
    </div>

    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>