<h1>Detalles de la tarea</h1>
<%= link_to 'Volver', tareas_path, class: 'btn btn-primary' %>
<div class="p-2">
    <%= render 'form', tarea: @tarea %>

    <h3>Comentarios</h3>
    <%@comentarios.each do |comentario|%>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title"><%=comentario.created_at.localtime.strftime("%d.%m.%Y a las %I:%M%p")%></h5>
            <p class="card-text"><%=comentario.comentario%></p>
        </div>
    </div>
    <% end %>
    <%= render partial: 'comments/form' %>
</div>
<%= link_to 'Eliminar esta tarea', tareas_path, method: :delete, data: { confirm: 'No hay vuelta atrás. ¿Seguro?' }, class: 'btn btn-danger' %>
