<nav class="navbar-wrapper navbar-expand-xl navbar-dark bg-dark" style="{width: 100% !important;}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuMaterias" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Materias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMaterias">
          <%= link_to 'Nueva materia', new_materium_path, class: 'dropdown-item'%>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuEstados" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estados
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuEstados">
          <%= link_to 'Nuevo estado', new_estado_path, class: 'dropdown-item'%>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTareas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tareas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuTareas">
          <%= link_to 'Nueva tarea', new_tarea_path, class: 'dropdown-item'%>
        </div>
      </li>
    </ul>
  </div>
</nav>
<table class="table m-0 table-bordered">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">Estados/Materia</th>
      <% @materias.each do |materia|  %>
        <th class="text-center"><%=materia.nombre%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%@estados.each do |estado| %>
        <tr>
          <td class="table-primary font-weight-bold"><%=estado.nombre%></td>
          <% @materias.each do |materia|  %>
            <td>
              <% @tareas.each do |tarea| %>
                <% if tarea.estado==estado && tarea.materium==materia %>
                  <div class="card alert-warning" style="width: 18rem;">
                    <div class="card-body">
                      <%= link_to tarea.descripcion, edit_tarea_path(tarea), class: 'alert-link' %>
                    </div>
                    <%if tarea.FechaFin%>
                      <div class="badge badge-success">FINALIZA: <%=tarea.FechaFin.strftime("%d/%m/%Y")%></div>
                    <%else%>
                      <div class="badge badge-success">Sin fecha definida</div>
                    <%end%>
                  </div><br>
                <% end %>
              <%end%>
            </td>
          <% end %>
        </tr>
    <%end%>
  </tbody>
</table>