<table class="table table-fixed">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">Estados/Materia(<%= link_to 'Nueva tarea', new_tarea_path %>)</th>
      <% @materias.each do |materia|  %>
        <th class="text-center"><%=materia.nombre%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%@estados.each do |estado| %>
        <tr>
          <td class="table-primary font-weight-bold"><%=estado.nombre%></td>
          <% @materias.each do |materia|  %>
            <td>
              <% @tareas.each do |tarea| %>
                <% if tarea.estado==estado && tarea.materium==materia %>
                  <div class="card alert-warning" style="width: 18rem;">
                    <div class="card-body">
                      <%= link_to tarea.descripcion, edit_tarea_path(tarea), class: 'alert-link' %>
                    </div>
                    <%if tarea.FechaFin%>
                      <div class="badge badge-success">FINALIZA: <%=tarea.FechaFin.strftime("%d/%m/%Y")%></div>
                    <%else%>
                      <div class="badge badge-success">Sin fecha definida</div>
                    <%end%>
                  </div><br>
                <% end %>
              <%end%>
            </td>
          <% end %>
        </tr>
    <%end%>
  </tbody>
</table>