<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tarea.descripcion %>
</p>

<p>
  <strong>Materium:</strong>
  <%= @tarea.materium_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tarea.estado_id %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
