<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comment.comentario %>
</p>

<p>
  <strong>Tarea:</strong>
  <%= @comment.tarea_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
