<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @project.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @project.descripcion %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @project.fechainicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @project.fechafin %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
